<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pleroma Installer</title>
    <link rel=icon type=image/png href=<%= Routes.static_path(@conn, "/images/favicon.png") %>>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <div class="container" style="margin-top: 3rem;">
        <div style="float: right; margin: -20px -20px 0 0;"><img width="80" src="<%= Routes.static_path(@conn, "/images/logo.svg") %>" alt="Pleroma Logo"/></div>
        <h1>Pleroma Installer</h1>
      </div>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
