CREATE USER <%= username %> WITH ENCRYPTED PASSWORD '<%= password %>';
CREATE DATABASE <%= database %> OWNER <%= username %>;
\c <%= database %>;
CREATE EXTENSION IF NOT EXISTS citext;
CREATE EXTENSION IF NOT EXISTS pg_trgm;
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";
<%= if rum_enabled do
  "CREATE EXTENSION IF NOT EXISTS rum;"
else
""
end %>
